doctype html
html
  head
    meta(charset="utf-8")
    title grab site
    style.
        html,body{
            font-family:'Hiragino Sans GB',helvetica,'microsoft yahei',"Source Sans Pro","Helvetica Neue",Arial,sans-serif;
        }
        *{
            padding: 0;
        }
        h2{
            text-align:center;
            padding: 10px;
        }
        h4{
            text-align:center;
            color: #666;
        }
        table{
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 8px;
        }
        th,td{
            border-bottom:1px solid #ccc;
            padding: 6px;
        }
        tr:hover td{
            background: #eee;
        }
        a,
        a:link,
        a:visited,
        a:active{
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
        .time{
            color: #666;
        }
  body
    h2 NodeJS抓取：百度百家新闻
    h4 #{date}
    table
        thead
            tr
                th 时间
                th 标题
                th 简介
        tbody
            each item, i in news
             tr
              td 
                span.time #{item.time}
              td 
                a(href="#{item.href}") #{item.title}
              td
                p #{item.summary}
    script.
        alert('抓取成功');